/* Global CSS - Used for the entire website */
html, body {
    font-family: 'century gothic', sans-serif; 
}
video {
  width: 100%    !important;
  height: auto   !important;
}
h2 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 800;
}
h1 {
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 800;
}
.subh1heading {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 800;
    margin-top: -24px;
    margin-left: 10px;
}
.subh2heading {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 800;
    margin-top: -20px;
    margin-left: 15px;
    color: #444444;
}
.content-padding {
    padding: 60px;
}

/* Override Boostrap Navbar */
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-inverse {
    background-color: rgba(0,0,0,0.1);
    border-width: 0px;
}

.navbar-nav > li {
    padding: 15px;
    font-weight: 800;
    text-transform: uppercase;
}
.navbar-nav > li > a {
    color: #ffffff !important;
}

.navbar-header {
    padding: 15px;
}

#header-logo {
    max-height: 60px;
    max-width: 60px;
    margin-top: -20px;
    text-align: center;
}

.dropdown-menu {
    margin-top: -20px;
    background-color: rgba(0,0,0,0.6);
}
.dropdown-menu > li {
    padding: 15px;
}
.dropdown-menu > li > a {
    color: #ffffff !important;
    font-weight: 800 !important ;
}
.dropdown-menu > li > a:hover {
    background-color: #000000;
}
.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}
@media screen and (max-width: 768px) {
    .navbar-inverse {
        background-color: rgba(0,0,0,0.8);
    }
    video {
        margin-top: 80px;
    }
    .dropdown-menu > li {
        padding: 5px;
    }
    .navbar-nav > li {
        padding: 5px;
    }
}
/* News Content */
#news-content {
    margin-top: -10px;
    background-color: #FFC107;
    color: #ffffff;
}

/* Winner Content */
#winner-content {
    background-color: #1abc9c;
    color: #ffffff;
}
.winner-amount {
    font-size: 3em;
    line-height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
}
.winner-name {
    font-size: 1em;
    margin-top: -27px;
    margin-left: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color: #444444;
}
/* FOOTER */
#small-footer {
    background-color: #000000;
    padding: 20px;
}
#small-footer > p {
    text-align: center;
    font-size: 0.8em;
    color: #ffffff;
}
/* Contact Section CSS */
.contact-padding {
    padding: 40px;
}